body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    flex: 0;
    min-height: 40px;
    background-color: #eee;
    color: #000;
    font-weight:lighter;
    font-family: "Open Sans", "PT Sans", Calibri;
    padding-left: 8px;
    margin: 0px
}

.img {
    margin: 16px;
    width: 12%;
}

p,
li,
h2,
a,
.footer {
    font-family: "Open Sans";
    margin-left: 5%;
    margin-right: 5%;
}

h2 {
    font-weight: 400;
    font-size: 18px;
}

.container {
    flex: 1;

}

.cards a{
    background-color: rgb(140, 130, 132);
    color: #ffffff;
    padding: 1em 2em;
    text-decoration: none;
    display: inline-block;
}

.cards a:hover {
    background-color: rgb(57, 53, 54);
    color: #ffffff;
}

.cards {
    display: flex;
    flex-wrap: wrap;

}

ul {
    list-style: none;
    gap: 8px;
    font-size: 14pt;

}


.recipe {
    font-family: "Open Sans", "PT Sans", Calibri;
}
