body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    min-height: 80px;
    background-color: #eee;
    color: #000;
    font-weight:lighter;
    font-family: "Open Sans", "PT Sans", Calibri;
    padding-left: 8px;
    margin: 0px
}

.img {
    margin: 16px;
    width: 12%;
}

.recipe {
    font-family: "Open Sans", "PT Sans", Calibri;
}

p,
li,
h2,
a,
.footer {
    font-family: "Open Sans";
    margin-left: 5%;
    margin-right: 5%;
}

.directory {
    font-size: 14pt;
}

.cards a{
    background-color: rgb(140, 130, 132);
    color: #ffffff;
    padding: 1em 2em;
    text-decoration: none;
    display: inline-block;
}

.cards a:hover {
    background-color: rgb(57, 53, 54);
    color: #ffffff;
}