.title {
    color: #808080;
    text-align: center;
    font-weight:lighter;
    font-family: "Open Sans", "PT Sans", Calibri;
}

.recipe {
    font-family: "Open Sans", "PT Sans", Calibri;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

p,
li,
h2,
a {
    font-family: "Open Sans";
    margin-left: 5%;
    margin-right: 5%;
}

.directory {
    font-size: 14pt;
}

.links-list a{
    background-color: rgb(140, 130, 132);
    color: #ffffff;
    padding: 1em 2em;
    text-decoration: none;
    display: inline-block;
}

.links-list a:hover {
    background-color: rgb(57, 53, 54);
    color: #ffffff;
}